body{
    text-align: center;
}

div{
    height: 50px ;
    width: 100px;
    display: inline-block;
    border : 2px solid black;
}

#container{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column-reverse;
    /* margin: 50px; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex-start; */
 
}

#box1{
    background-color: turquoise;
    /* flex-direction: row-reverse; */
}

#box2{
    background-color: lightblue;
    height:200px
}


#box3{
    background-color: lightgreen;
    height:275px
}

#box4{
    background-color: lightpink;
}

#box5{
    background-color: lightgrey;
}   