.ContentBox{
    width: 100px;
    height: 100px;
    border: 2px solid black;

}
 #navigationbar {
   background-color: black;
    height: 60px;
 }
 h1{
    color: #0077b6;
    text-align: center;
    
 }

 #logo{
    font-size: 25px;
    color : yellow
 }
  /* * {
    padding: 0px;
    margin: 0px;
    color: white;
  } */
  
  a{
    margin-right: 200px;
  } 

  #button{
    background-color: dark yellowgreen;
  }
   #my{
    color: red;
    background-color: cadetblue;
   }

   *{
    color: white;
   }
   body{
    background-color: #bde0fe;
   }

   #content{
    height: 800px;
   }

   footer{
    background-color: black;
     
    text-align: center;
    
   }